<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.shop.sys.common.dao.ShopEmployeeRoleMapper">

  <resultMap id="shopEmployeeRoleMap" type="com.yami.shop.sys.common.model.ShopEmployeeRole">
    <id column="id" property="id" />
    <result column="employee_id" property="employeeId"/>
    <result column="role_id" property="roleId"/>
  </resultMap>

  <insert id="insertUserAndUserRole">
    insert into tz_shop_employee_role (employee_id,role_id) values
    <foreach collection="roleIdList" item="roleId" separator=",">
      (#{employeeId},#{roleId})
    </foreach>
  </insert>

  <delete id="deleteBatch">
    delete from tz_shop_employee_role where role_id in
    <foreach item="roleId" collection="roleIds" open="(" separator="," close=")">
      #{roleId}
    </foreach>
  </delete>
  <delete id="deleteByEmployeeId" parameterType="java.lang.Long">
    delete from tz_shop_employee_role where employee_id = #{employeeId}
  </delete>
  <delete id="deleteByEmployeeIds">
    delete from tz_shop_employee_role where employee_id in
    <foreach collection="employeeIds" open="(" separator="," close=")" item="employeeId">
      #{employeeId}
    </foreach>
  </delete>

  <select id="selectUseRoleIds" resultType="java.lang.Long">
    select role_id from tz_shop_employee_role where role_id in
    <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
      #{roleId}
    </foreach>
  </select>
</mapper>
