
$p-20: 20rpx;
$p-10: 10rpx;
$primary-color: #E1351B;
$border-color: #EBEBEB;
$gray-color: #888888;
$info-bg: #F2F2F2;
$white: #fff;


$big-font: 44rpx;
$title-font: 38rpx;
$base-font: 26rpx;
$medium-font: 34rpx;
$little-font: 30rpx;
$small-font: 20rpx;

$font-weight: 600;


$content-box-padding: 0 25rpx;


/* 新闻类列表展示的缩略图大小 */
$news-image-width: 225rpx;
$news-image-height: 145rpx;

/* 三会一课的图片大小 */
$life-image-width: 290rpx;
$life-image-height: 170rpx;

/* 党内荣誉的图片尺寸 */
$honor-image-width: 204rpx;
$honor-image-height: 132rpx;

/* 党建学习图片尺寸 */
$study-image-width: 225rpx;
$study-image-height: 144rpx;
