<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.shop.user.common.dao.UserBalanceCouponMapper">

  <resultMap id="userBalanceCouponMap" type="com.yami.shop.user.common.model.UserBalanceCoupon">
    <result column="balance_id" property="balanceId"/>
    <result column="coupon_id" property="couponId"/>
    <result column="coupon_num" property="couponNum"/>
  </resultMap>
    <delete id="removeByBalaceIdAndCouponId">
      DELETE
      FROM
        tz_user_balance_coupon
      WHERE balance_id = #{balanceId} AND coupon_id IN
      <foreach collection="couponIdSet" item="couponId" open="(" close=")" separator=",">
        #{couponId}
      </foreach>
    </delete>
  <update id="updateBatchByCoupons">
    <foreach collection="couponList" item="coupon">
      UPDATE tz_user_balance_coupon SET  coupon_num = #{coupon.couponNum}
      WHERE balance_id = #{balanceId} AND coupon_id = #{coupon.couponId};
    </foreach>
  </update>

  <delete id="removeByBalanceId">
    DELETE FROM tz_user_balance_coupon WHERE balance_id = #{balanceId}
  </delete>
</mapper>
