<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.shop.user.common.dao.UserTagUserMapper">

    <resultMap id="userTagUserMap" type="com.yami.shop.user.common.model.UserTagUser">
        <id column="user_tag_user_id" property="userTagUserId"/>
        <result column="user_tag_id" property="userTagId"/>
        <result column="user_id" property="userId"/>
    </resultMap>
    <delete id="removeByUserIdAndTagId">
        DELETE FROM `tz_user_tag_user` WHERE user_id = #{userId} AND user_tag_id = #{userTagId}
    </delete>
    <select id="getByUserIdAndTagId" resultType="com.yami.shop.user.common.model.UserTagUser">
        SELECT * FROM `tz_user_tag_user` utg
        WHERE utg.user_id = #{userId} AND utg.user_tag_id = #{userTagId}
    </select>
    <select id="countByUserIdAndTagId" resultType="java.lang.Integer">
         SELECT COUNT(1) FROM `tz_user_tag_user` utg
        WHERE utg.user_id = #{userId} AND utg.user_tag_id = #{userTagId}
    </select>
    <select id="getUserTagsUserByUserId" resultType="com.yami.shop.bean.param.UserTagParam"
            parameterType="java.lang.String">
        SELECT distinct ut.user_tag_id AS tagId,ut.tag_name, ut.tag_type FROM `tz_user_tag` ut
        LEFT JOIN `tz_user_tag_user` utg ON utg.user_tag_id = ut.user_tag_id
        WHERE utg.user_id = #{userId}
    </select>

</mapper>
