<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.shop.user.common.dao.UserBalanceLogMapper">

  <resultMap id="userBalanceLogMap" type="com.yami.shop.user.common.model.UserBalanceLog">
    <id column="balance_log_id" property="balanceLogId" />
    <result column="user_id" property="userId"/>
    <result column="create_time" property="createTime"/>
    <result column="change_balance" property="changeBalance"/>
    <result column="io_type" property="ioType"/>
    <result column="pay_no" property="payNo"/>
    <result column="type" property="type"/>
    <result column="is_payed" property="isPayed"/>
    <result column="refund_sn" property="refundSn"/>
  </resultMap>
  <resultMap id="UserBalanceLogDtoMap" type="com.yami.shop.user.common.dto.UserBalanceLogDto">
        <result column="create_time" property="createTime"/>
        <result column="change_balance" property="changeBalance"/>
        <result column="io_type" property="ioType"/>
        <result column="type" property="type"/>
        <result column="order_number" property="orderNumbers"/>
        <!--<collection property="orderNumberList" javaType="java.util.List" ofType="String">
            <result column="order_number"/>
        </collection>-->
  </resultMap>
    <select id="getLogPage" resultMap="UserBalanceLogDtoMap">
        SELECT ubl.create_time,
               ubl.change_balance,
               ubl.io_type,
               ubl.`type`,
               GROUP_CONCAT(DISTINCT os.order_number ) AS order_number
        FROM tz_user_balance_log ubl
                 LEFT JOIN tz_order_settlement os ON ubl.pay_no = os.pay_no
        WHERE ((ubl.`type` = 1 AND ubl.is_payed = 1) OR ubl.`type` NOT IN (1))
          AND ubl.user_id = #{userId}
        GROUP BY ubl.balance_log_id
        ORDER BY ubl.create_time DESC
    </select>
    <select id="countUserRechargeAmount" resultType="java.lang.Double" parameterType="java.lang.String">
      SELECT SUM(ubl.change_balance) FROM `tz_user_balance_log` ubl
      WHERE ubl.user_id = #{userId} AND ubl.io_type = 1 AND ubl.type = 1 AND ubl.is_payed = 1
    </select>
  <select id="countUserRechargeNum" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT COUNT(ubl.balance_log_id) FROM `tz_user_balance_log` ubl
    WHERE ubl.user_id = #{userId} AND ubl.io_type = 1 AND ubl.type = 1 AND ubl.is_payed = 1
  </select>
  <select id="getRecentRechargeTime" resultType="java.util.Date" parameterType="java.lang.String">
    SELECT ubl.create_time FROM `tz_user_balance_log` ubl
    WHERE ubl.user_id = #{userId} AND ubl.io_type = 1 AND ubl.type = 1 AND ubl.is_payed = 1
    ORDER BY ubl.create_time DESC
    LIMIT 0,1
  </select>
  <select id="getPageByUserId" resultType="com.yami.shop.user.common.model.UserBalanceLog">
    SELECT
    bl.create_time,
    bl.type,
    bl.change_balance,
    bl.io_type
    FROM `tz_user_balance_log` bl
    WHERE bl.user_id = #{userId} and (bl.type != 1 or (bl.type = 1 and bl.is_payed = 1))
    ORDER BY bl.create_time DESC
  </select>

  <select id="listUserIdByRechargeAmount" resultType="java.lang.String">
    SELECT
      *
    FROM
      `tz_user_balance_log`
    WHERE
      is_payed = #{isPayed} AND `type` = 1
    <if test="startDate != null">
      AND create_time BETWEEN #{startDate}
    </if>
    <if test="endDate != null">
      AND #{endDate}
    </if>
    GROUP BY user_id
    HAVING SUM(change_balance) BETWEEN #{minAmount} AND #{maxAmount}
  </select>

  <select id="listUserIdByRechargeNum" resultType="java.lang.String">
    SELECT
           user_id
    FROM
         `tz_user_balance_log`
    WHERE
          is_payed = #{isPayed} AND `type` = 1
    <if test="startDate != null">
      AND create_time BETWEEN #{startDate}
    </if>
    <if test="endDate != null">
      AND #{endDate}
    </if>
    GROUP BY user_id
    HAVING COUNT(user_id) BETWEEN #{minNum} AND #{maxNum}
  </select>

  <select id="listUserIdByRechargeNums" resultType="java.lang.String">
    SELECT
    user_id
    FROM
    `tz_user_balance_log`
    WHERE
    is_payed = #{isPayed} AND `type` = 1
    <if test="startDate != null">
      AND create_time BETWEEN #{startDate}
    </if>
    <if test="endDate != null">
      AND #{endDate}
    </if>
    GROUP BY user_id
    HAVING COUNT(user_id) > #{minNum}
  </select>

  <select id="countUserRechargeNumByDateRange" resultType="int">
    SELECT COUNT(DISTINCT(user_id)) FROM `tz_user_balance_log`
    WHERE io_type = 1 AND `type` = 1 AND is_payed = 1
    <if test="param.dateTime != null">
      AND create_time <![CDATA[ <= ]]> #{param.dateTime}
    </if>
    <if test="param.dateTime == null and param.startTime != null and param.endTime != null">
      AND (create_time BETWEEN #{param.startTime} AND #{param.endTime})
    </if>
  </select>

  <select id="countUserRechargeNumByTime" resultType="com.yami.shop.bean.param.CustomerPayParam">
    SELECT DATE_FORMAT(create_time,'%Y-%m-%d') AS create_date,COUNT(DISTINCT(user_id)) AS number
    FROM `tz_user_balance_log`
    WHERE io_type = 1 AND `type` = 1 AND is_payed = 1
    AND (create_time BETWEEN #{param.startTime} AND #{param.endTime})
    GROUP BY DATE_FORMAT(create_time,'%Y-%m-%d');
  </select>

  <select id="getMaxCrtTimeByUserId" resultMap="userBalanceLogMap">
    SELECT * FROM tz_user_balance_log WHERE user_id=#{userId} AND type = 1 ORDER BY create_time DESC LIMIT 1
  </select>
</mapper>
