@font-face {
  font-family: 'PingFang SC-Bold';
  src: url('/src/assets/font/PINGFANG BOLD.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang SC-Medium';
  src: url('/src/assets/font/PINGFANG BOLD.TTF');
  font-weight: normal;
  font-style: normal;
}
