<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.flyray.bsin.server.mapper.ShopEmployeeMapper">

  <resultMap id="shopEmployeeMap" type="me.flyray.bsin.server.domain.ShopEmployee">
    <id column="employee_id" property="employeeId" />
    <result column="shop_id" property="shopId"/>
    <result column="type" property="type"/>
    <result column="mobile" property="mobile"/>
    <result column="username" property="username"/>
    <result column="nickname" property="nickname"/>
    <result column="password" property="password"/>
    <result column="email" property="email"/>
    <result column="status" property="status"/>
    <result column="create_employee_id" property="createEmployeeId"/>
    <result column="create_time" property="createTime"/>
    <result column="tenant_id" property="tenantId" />
  </resultMap>
    <select id="getShopByUsernameOrMobile" resultType="me.flyray.bsin.server.domain.ShopEmployee"
            parameterType="java.lang.String">
        SELECT se.*,sd.`shop_status`
        FROM tz_shop_employee se
        LEFT JOIN `tz_shop_detail` sd ON sd.`shop_id` =  se.`shop_id`
        WHERE se.username = #{username} OR se.mobile = #{username}
    </select>
    <select id="queryAllPerms" resultType="java.lang.String" parameterType="java.lang.Long">
        SELECT m.perms
        FROM tz_shop_employee_role er
        LEFT JOIN tz_shop_role_menu rm ON er.role_id = rm.role_id
        LEFT JOIN tz_shop_menu m ON rm.menu_id = m.menu_id
        WHERE er.employee_id = #{employeeId}
    </select>
    <select id="getByUserName" resultType="me.flyray.bsin.server.domain.ShopEmployee"
            parameterType="java.lang.String">
        SELECT * FROM tz_shop_employee WHERE username = #{username}
    </select>
    <select id="getMerchantInfoByShopId" resultType="me.flyray.bsin.server.domain.ShopEmployee">
        SELECT se.*, sd.shop_name
        FROM tz_shop_employee se
        JOIN `tz_shop_detail` sd ON se.shop_id = sd.shop_id
        WHERE se.type = 0 AND se.shop_id = #{shopId}
    </select>
    <select id="listByParam" resultType="me.flyray.bsin.server.domain.ShopEmployee">
        SELECT se.employee_id, se.type, se.nickname, se.mobile, se.username, se.email, se.status
        FROM tz_shop_employee se
        <where>
            <if test="shopEmployee.shopId != null">
                AND se.shop_id = #{shopEmployee.shopId}
            </if>
            <if test="shopEmployee.type != null">
                AND se.type = #{shopEmployee.type}
            </if>
            <if test="shopEmployee.status != null">
                AND se.status = #{shopEmployee.status}
            </if>
        </where>
    </select>
</mapper>
