<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="me.flyray.bsin.server.mapper.TzOrganizationWorkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="me.flyray.bsin.server.domain.TzOrganizationWork">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
    </resultMap>

    <sql id="baseColumnList">
        id, dept_id,title,content, type, create_time, status, update_time,del_flag,create_by
    </sql>

    <select id="selectPageList" resultType="me.flyray.bsin.server.domain.TzOrganizationWork">
        select * from tz_organization_work
        <where>
            del_flag=0
            <if test="type!=null and type!=''" >
                and type =#{type}
            </if>
        </where>
    </select>
</mapper>
